:root {
  --primary-bg-color: #0d0b1a;
  --primary-navbg-color: #100e22;
  --primary-sidebg-color: #363156;
  --primary-sidebg-side-color: #221c40;
  --primary-line-color: #9b8aff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
}

h1 {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

aside {
  position: fixed;
  left: 0;
  width: 20%;
  height: 80%;
  top: 10%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.ondertittel {
  color: grey;
  font-size: 1vw;
  margin-bottom: 10px;
}

.sidelist {
  padding: 10px 0px 0px 10px;
}
.onderondertitel {
  padding-left: 20px;
  color: rgb(162, 162, 162);
  padding-bottom: 10px;
  font-size: 1.2vw;
}

.icon {
  width: 10%;
}
.acc {
  border-right: 2px solid var(--primary-sidebg-color);
}

.stemming {
  align-items: center;
  padding-bottom: 1rem;
}

#textstemming {
  font-size: 10px;
}
#bol {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: greenyellow;
  border-radius: 100px;
}

.artist {
  font-size: 14px;
  color: grey;
}

.logobol {
  background-image: url(../img/lastlast.jpeg);
  background-size: contain;
  width: 3.5vw;
  height: 3.5vw;
  margin: auto;
  background-color: white;
  border-radius: 100px;
}
.songbol {
  background-image: url(../img/lastlast.jpeg);
  background-size: contain;
  width: 3.7vw;
  height: 3.7vw;
  margin: auto;
  background-color: white;
  border-radius: 6px;
}
.song {
  align-items: center;
  padding: 5px;
  justify-self: start;
}

.iconSong {
  width: 8%;
  min-width: 30px;
}
.lijn {
  background-color: var(--primary-line-color);
  width: 100%;
  height: 2%;
  border-radius: 100px;
  margin: auto;
}
.volumeLijn {
  background-color: var(--primary-line-color);
  width: 40%;
  height: 5%;
  border-radius: 100px;
}
.time {
  color: grey;
}
.volume {
  margin-right: 10%;
}
/* colors background */

body {
  background-color: var(--primary-bg-color);
  color: white;
}
nav {
  background-color: var(--primary-navbg-color);
  border-bottom: 2px solid var(--primary-sidebg-color);
}

footer {
  background-color: var(--primary-navbg-color);
  border-top: 2px solid var(--primary-sidebg-color);
}

aside {
  background-color: var(--primary-sidebg-side-color);
  border-right: 2px solid var(--primary-sidebg-color);
}

.acc {
  background-color: var(--primary-sidebg-side-color);
}
