PORT=3000
SPOTIFY_CLIENT_ID=your_key_here
SPOTIFY_CLIENT_SECRET=your_key_here
SPOTIFY_REDIRECT_URI=your_uri_here
MONGODB_URI=your_uri_here
SESSION_SECRET=your_key_here
YOUTUBE_API_KEY=your_key_here
ANTHROPIC_API_KEY=your_key_here
RAPID_API_KEY=your_key_here
LASTFM_API_KEY=your_key_here
