:root {
  --primary-bg-color: #0d0b1a;
  --primary-navbg-color: #100e22;
  --primary-sidebg-color: #363156;
}

figure {
  width: 200px;
  height: 200px;
  background-color: var(--primary-sidebg-color);
  border-radius: 8px;
  margin: 20px;
}

aside {
  padding: 10px;
}

main {
  padding: 10px;
  height: 550px;
}

footer {
  padding: 10px;
}

.detail-info {
  margin-top: 65px;
}

.detail-info h2 {
  font-size: 20px;
  font-weight: bold;
}
.detail-info h3 {
  color: #9b8aff;
  font-size: 13px;
}
.detail-card figure {
  background-image: url(../img/lastlast.jpeg);
  background-size: contain;
}
#time {
  color: grey;
  font-size: 12px;
}
#clicked-button {
  background-color: #9b8aff;
}
.element-song {
  padding: 5px 13px;
  font-size: 13px;
  border-radius: 30px;
  background-color: var(--primary-sidebg-color);
}

.kenmerk-element {
  padding: 10px 20px 15px 15px;
  background-color: var(--primary-sidebg-color);
  border-radius: 8px;
  color: rgb(171, 171, 171);
  text-align: left;
}

#audio {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#number1 {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
#number2 {
  color: rgb(254, 75, 254);
  font-size: 20px;
  font-weight: bold;
}
#number3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}
#number4 {
  color: rgb(42, 255, 42);
  font-size: 20px;
  font-weight: bold;
}
#number5 {
  color: rgb(211, 136, 255);
  font-size: 20px;
  font-weight: bold;
}
#number6 {
  color: rgb(255, 203, 81);
  font-size: 20px;
  font-weight: bold;
}
