.container-buttons button:nth-child(1) {
  color: white;
  background:
    linear-gradient(to bottom, rgba(232, 67, 147, 0.25), transparent 60%),
    linear-gradient(90deg, #7b6bf5, #e84393);
}

.container-buttons button:nth-child(2) {
  color: unset;
  background: unset;
  background-color: #0a0714;
}

main {
  margin-top: 100px;
}

.container-text-ww-vergeten {
  display: flex;
  justify-content: center;
}

.container-text-ww-vergeten {
  margin-top: 10px;
}

input[type="submit"] {
  margin-top: 30px;
}
